---
import InfoCard from './InfoCard.astro'
import type { LocationInfo } from '@/interfaces/location'
import MapCard from './MapCard.astro'

interface Props {
    locationInfo: LocationInfo
}

const { locationInfo } = Astro.props
---

<section class="py-12 sm:py-16 px-3 sm:px-4">
    <div class="max-w-6xl mx-auto">
        <h2
            class="section-title mb-8 sm:mb-12 text-primary text-2xl sm:text-4xl"
        >
            Visita Nuestra Tienda
        </h2>
        <div
            class="grid grid-cols-1 md:grid-cols-2 gap-8 sm:gap-12 items-center"
        >
            <InfoCard locationInfo={locationInfo} />
            <MapCard />
        </div>
    </div>
</section>
