<div class="overflow-hidden rounded-lg flex items-center justify-center">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2041.3011861946331!2d-77.03380347785105!3d-12.03911444294856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf050b9bb4e9%3A0x1d9931e36cf3be91!2sDistribuidora%20de%20flores%20La%20Rosa!5e0!3m2!1ses-419!2spe!4v1783691375134!5m2!1ses-419!2spe"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="strict-origin-when-cross-origin"></iframe>
</div>
