---
import { cn } from '@/utils/tailwindcss'

export interface Props {
    index: number
}

const currentSlide = 0
const { index } = Astro.props
---

<button
    class={cn(
        'btn-dot',
        index == currentSlide ? 'btn-dot-expand' : 'btn-dot-default',
    )}
    aria-label={`Go to slide ${index + 1}`}></button>
